<form action="{{ url_for('questions_add') }}" , method="POST">

    <div class="form-row">
        <div class="form-group col-md-12">
            <label for="subject">Subject</label>
            <input type="text" class="form-control" name='subject' id="subject" placeholder="Subject"
                required=true>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-12">
            <label for="question">Question</label>
            <textarea class="form-control" id="question" name="question" rows="3" required=true></textarea>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="status">Status / Priority</label>
            <select id="status" name="status" class="form-control" required=true>
                <option selected></option>
                {% for status in statusses %}
                <option value=" {{ status['id'] }}">{{status['status']}}</option>
                {%endfor%}
            </select>
        </div>
        <div class="form-group col-md-6">
            <label for="deadline">Deadline</label>
            <input type="date" name="deadline" class="form-control" id="deadline" required=true>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-12">
            <label for="journalist">Journalist - </label>
            <a class="align-right text-right" href="#" data-toggle="modal" data-target="#AddJournalist">add
                new</a>
            <select id="journalist" name="journalist" class="form-control" required=true>
                <option selected></option>
                {% for journalist in journalists %}
                <option value="{{ journalist['id'] }}">{{journalist['first_name']}}
                    {{journalist['middle_name']}} {{journalist['last_name']}}</option>
                {%endfor%}
            </select>
        </div>
    </div>

    <div class="form-row">

        <div class="form-group col-md-12">
            <label for="spokesperson">Assigned Spokesperson - </label>
            <a class="align-right text-right" href="#" data-toggle="modal" data-target="#AddSpokesperson">add
                new</a>
            <select id="spokesperson" name="spokesperson" class="form-control" required=true>
                <option selected></option>
                {% for spokesperson in spokespersons %}
                <option value=" {{ spokesperson['id'] }}">
                    {{spokesperson['first_name']}} {{spokesperson['middle_name']}} {{spokesperson['last_name']}}
                </option>
                {%endfor%}
            </select>
        </div>
    </div>
    <div class="form-row align-items-center justify-content-center">
        <button type="submit" class="mt-2 btn btn-outline-secondary">Submit Question</button>
    </div>
</form>